# See https://atom.io/docs/latest/creating-a-package#menus for more details
'context-menu':
  'atom-text-editor': [{ label: 'Enable pandoc', command: 'pandoc:toggle' }]

'menu': [{
  'label': 'Packages'
  'submenu': [{
    'label': 'pandoc'
    'submenu': [{ 'label': 'Preview', 'command': 'pandoc-preview:show' }]
  }]
}]
